.hero--section {
  .hero-container {
    padding: 40px 0;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .hero-data {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 18px;

      .hero-subs {
        display: block;
        text-align: end;
        color: #000;
        text-transform: capitalize;
        font-size: 0.875rem;
        position: relative;
        padding-right: 25px;
        overflow: hidden;

        span {
          position: absolute;
          top: 100%;
          right: 0;
          transform: translateY(-100%);
          display: flex;
          flex-direction: column;
          gap: 6px;

          i {
            transition: all 0.2s ease;
          }

          i:first-child {
            transform: translateY(24%);
          }

          i:last-child {
            transform: translateY(0%);
          }
        }

        span:hover {
          i:first-child {
            transform: translateY(123%);
          }

          i:last-child {
            transform: translateY(100%);
          }
        }
      }

      .hero-heading {
        font-size: 2.35rem;
        font-weight: 400;

        span {
          padding: 0 10px;
        }
      }

      .hero-info {
        font-size: 1.25rem;
        width: 55%;
        margin: 0 auto;
      }
    }

    .hero-center {
      position: relative;
      width: 100%;
      .pet-img {
        width: 100%;
        position: relative;

        img {
          width: 100%;
          height: 520px;
          object-fit: fill;
          border-radius: 70px;
        }
      }

      .hero-cards {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .question-card {
          width: 48%;
          background: #fff;
          border-radius: 28px;
          padding: 16px;

          display: flex;
          flex-direction: column;
          gap: 14px;

          .question-header {
            display: flex;
            align-items: flex-start;
            gap: 16px;

            .profile-img {
              width: 52px;
              height: 52px;
              border-radius: 50%;
              object-fit: cover;
            }

            i {
              font-size: 16px;
              padding: 8px;
              border-radius: 50%;
              border: 1px solid #000;
            }
          }

          h5 {
            font-size: 1rem;
            font-weight: 500;

            span {
              font-weight: 400;
              text-transform: capitalize;
            }
          }
        }

        .profile-card {
          width: 48%;
          background: #fff;
          border-radius: 28px;
          padding: 16px;

          display: flex;
          flex-direction: column;
          gap: 12px;

          .profile-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .profile-name {
              text-transform: capitalize;
              font-size: 1rem;

              span {
                font-size: 0.75rem;
                font-weight: 300;
              }
            }

            .profile-rating {
              font-size: 1rem;
              font-weight: 400;
            }
          }

          .profile-data {
            p {
              font-size: 0.95rem;
            }

            i {
              display: flex;
              justify-content: flex-end;
              font-size: 1.25rem;
            }
          }
        }

        .explore-btn {
          width: 100%;
          padding: 14px 0;

          background: #000;
          color: #fff;
          text-decoration: none;
          border-radius: 28px;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          font-size: 1.125rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .hero--section {
    .hero-container {
      padding: 45px 0;
      margin: 0 15px;

      .hero-data {
        gap: 28px;

        .hero-subs {
          font-size: 1.375rem;
        }

        .hero-heading {
          font-size: 5.9rem;

          span {
            padding: 0 25px;

            img {
              min-height: 42px;
              max-height: 42px;
              min-width: 42px;
              max-width: 42px;
            }
          }
        }

        .hero-info {
          font-size: 2rem;
          font-weight: 200;
          width: 42%;
          margin: 0 auto;
        }
      }

      .hero-center {
        .pet-img {
          text-align: center;

          img {
            width: 85%;
            border-radius: 250px;
          }
        }

        .hero-cards {
          position: static;
          transform: none;

          .question-card {
            position: absolute;
            top: 0;
            left: 5%;
            width: max-content;

            .question-header {
              img {
                min-width: 60px;
                max-width: 60px;
                min-height: 60px;
                max-height: 60px;
              }

              i {
                font-size: 18px;
              }
            }

            h5 {
              font-size: 1.25rem;
            }
          }

          .profile-card {
            position: absolute;
            width: 30%;
            top: 25px;
            right: 5%;

            .profile-info {
              .profile-name, .profile-rating {
                font-size: 1.25rem;

                span {
                  font-size: 1rem;
                }
              }
            }

            .profile-data {
              p {
                font-size: 1.35rem;
              }

              i {
                font-size: 24px;
              }
            }
          }

          .explore-btn {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            background: #fff;
            color: #000;
            border: 1px solid;
            bottom: 50px;
            right: 4%;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .hero--section {
    .hero-container {
      max-width: 1336px;
      margin: 0 auto;

      .hero-data {
        gap: 42px;

        .hero-subs {
          font-size: 2.5rem;
          padding-right: 2.5rem;

          span {
            i,
            i:last-child {
              font-size: 46px;
              font-weight: 400;
            }
          }
        }

        .hero-heading {
          font-size: 10rem;

          span {
            img {
              min-height: 52px;
              max-height: 52px;
              min-width: 52px;
              max-width: 52px;
            }
          }
        }

        .hero-info {
          width: 55%;
          font-size: 3.8rem;
        }
      }

      .hero-center {
        .hero-cards {
          .question-card {
            .question-header {
              img {
                max-height: 65px;
                max-width: 65px;
                min-height: 65px;
                max-width: 65px;
              }

              i {
                font-size: 20px;
              }
            }

            h5 {
              font-size: 1.5rem;
            }
          }

          .profile-card {
            .profile-info {
              .profile-name, .profile-rating {
                font-size: 1.5rem;

                span {
                  font-size: 1.25rem;
                }
              }
            }

            .profile-data {
              p {
                font-size: 1.8rem;
              }

              i {
                font-size: 32px;
              }
            }
          }

          .explore-btn {
            width: 120px;
            height: 120px;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
